/* 
    Created on : Oct 22, 2013, 10:04:41 PM
    Author     : Michał Lisiecki <michal.lisiecki@coi.gov.pl>
*/
.menu_entry {
    border-style: solid;
    border-width: 1px;
}

.menu {
    width: 200px;
}

.header {
    height: 50px;
    background-color: #FF9999;
}

.page {
    background-color: #FFAAAA;
}

.title {
    background-color: #FF7777;
}

.logoutLink {
    position: fixed;
    top: 10px;
    right: 10px;
}